body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#password_input {
  font-size: 80%;
  width: 400px;
  height: 30px;
  padding-left: 15px;
  margin-bottom: 20px;
}

.validat-item {
  margin-top: 20px;
}

.validat-item.valid {
  color:limegreen;
}
.validat-item.not-valid {
  color: red;
}
.duck-tester {
  line-height: 1.5;
}
.duck-tester>div {
  margin-top: 15px;
}
.action-button {
  width: 100px;
}
.action-button.wide-button {
  width: 200px;
}